development:
  adapter: postgresql
  database: bridge_development
  username: postgres
  password:
  min_messages: WARNING

test:
  adapter: postgresql
  database: bridge_test
  username: postgres
  password:
  min_messages: WARNING

production:
  adapter: postgresql
  database: bridge_production
  username: postgres
  password:
  min_messages: WARNING
