<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      {{#linkTo "index" class="brand"}}Bridge{{/linkTo}}
      <ul class="nav pull-right">
        <div class="btn-group">
          {{#if controllers.session.isSignedIn}}
            <button class="btn" data-toggle="dropdown" href="javascript:void(0)">{{controllers.session.userName}}</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" rel="nofollow" {{action "signOut" target=controllers.session}}>Sign out</a></li>
            </ul>
          {{/if}}
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
